@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@theme {
    --color-primary: #5d3ebc; 
    --color-secondary: #7849f7;
    --color-gray-storm: #697488;
    --color-gray: #a2a2a2;
    --color-gray-background: #fafafa;
    --color-black: #191919;
    --color-header:#4c3398;
    --color-border:#dfdee2;
    --color-white: #fff;
    --color-primary-light: #f3f0fe;
    --color-gray-list-item:rgb(105, 116, 136);
    --shadow-card: rgba(93, 62, 188, 0.04);
    
    --font-weight-normal: 400;
  }

  @layer base{
    
    html,body {
        font-family: "Open Sans", sans-serif;
        @apply antialiased bg-gray-50;
    }
  }

.flag-select {
    @apply !pb-0
}
.flag-select button {
    @apply h-14 border-2 border-gray-200 transition-colors bg-white rounded hover:border-primary
}
.flag-select button >span span:nth-child(2) {
    @apply text-sm pl-2
}
.bg-mobile-app {
	background-image: url('https://cdn.getir.com/getirweb-images/common/illustration/doodle.png');

}
.bg-restaurant {
	background-image: url('https://cdn.getir.com/getirweb-images/common/partners-background.jpg');

}
.bg-getirbuyuklogo {
	background-image: url('../src/images/getirbuyuklogo.svg');

}